<app-nav-component></app-nav-component>
<br>
<br>

<br>
<section class="page-section bg-light" id="portfolio">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">WEDDINGS</h2>
              </div>
      <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4" *ngFor="let item of invitations">              
              <div class="portfolio-item" >                                                             
                <img class="img-fluid" src="/assets/img/bottom-img.png" [routerLink]="['./verify-pinCode/'+item.id]">
                <div class="portfolio-caption">
                    <div class=" d-flex justify-content-center">{{ item.coupleName}}</div>                     
                </div>
              </div>
          </div>        
     </div>
    </div>
</section>
<app-footer-component></app-footer-component>                 
               