<!doctype html>
<html lang="en">

<head>
  <title>Login 10</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="img js-fullheight">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">CREATE WEDDING</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">

            <form [formGroup]="createWeddingForm" (ngSubmit)="onSubmit()">
              
                <div class="form-group">
                  <label for="nameCouple">Nombre de los novios:</label>
                  <input type="text" formControlName="coupleName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && createWeddingForm.controls['coupleName'].errors }" />
                  <div *ngIf="submitted && createWeddingForm.controls['coupleName'].errors" class="invalid-feedback">
                   First Name is required
                    
                  </div>
                </div>

                <div class="form-group">
                  <label for="weddingDate">Wedding Date:</label>
                  <input type="date" formControlName="weddingDate" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && createWeddingForm.controls['weddingDate'].errors }" />
                  <div *ngIf="submitted && createWeddingForm.controls['weddingDate'].errors" class="invalid-feedback">
                    <div *ngIf="createWeddingForm.controls['weddingDate'].errors?.['required']">Wedding Date is
                      required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="placeConvite">Place Convite</label>
                  <input type="text" formControlName="placeConvite" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && createWeddingForm.controls['placeConvite'].errors }" />
                  <div *ngIf="submitted && createWeddingForm.controls['placeConvite'].errors" class="invalid-feedback">
                    <div *ngIf="createWeddingForm.controls['placeConvite'].errors?.['required']">Place Convite is
                      required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="adressConvite">Adress Convite</label>
                  <input type="text" formControlName="adressConvite" class="form-control" placeholder="C/ molinos Nº11 "
                    [ngClass]="{ 'is-invalid': submitted && createWeddingForm.controls['adressConvite'].errors }" />
                  <div *ngIf="submitted && createWeddingForm.controls['adressConvite'].errors" class="invalid-feedback">
                    <div *ngIf="createWeddingForm.controls['adressConvite'].errors?.['required']">Adress Convite is
                      required</div>

                  </div>
                </div>

                <div class="form-group">
                  <label for="city">City</label>
                  <input list="name-provinces" formControlName="cityIdProvince" class="form-control"
                    placeholder="Valencia"
                    [ngClass]="{ 'is-invalid': submitted && createWeddingForm.controls['cityIdProvince'].errors }" />
                  <datalist id="name-provinces">
                    <option *ngFor="let province of provinces" [value]="province.provinceName">{{province.provinceName}}
                    </option>
                  </datalist>
                  <div *ngIf="submitted && createWeddingForm.controls['cityIdProvince'].errors"
                    class="invalid-feedback">
                    <div *ngIf="createWeddingForm.controls['cityIdProvince'].errors?.['required']">city is
                      required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="hourDinnerConvite">Hour Dinner Convite</label>
                  <input type="text" formControlName="hourDinnerConvite" class="form-control" placeholder="19:00"
                    [ngClass]="{ 'is-invalid': submitted && createWeddingForm.controls['hourDinnerConvite'].errors }" />

                  <div *ngIf="submitted && createWeddingForm.controls['hourDinnerConvite'].errors"
                    class="invalid-feedback">
                    <div *ngIf="createWeddingForm.controls['hourDinnerConvite'].errors?.['required']">
                      Hour Dinner Convite is required
                    </div>
                    
                  </div>
                </div>
                <div class="form-group">
                  <label for="transportConvite">Transport Convite</label>
                  <input type="text" formControlName="transportConvite" class="form-control" />                   
                </div>
                <!--Hour Transport Convite-->
                <div class="form-group">
                  <label for="hourTransportConvite">Hour Transport Convite</label>
                  <input type="text" formControlName="hourTransportConvite" class="form-control"/>                 
                </div>
                <!--Boy phone-->
                <div class="form-group">
                  <label for="boyPhone">Boy Phone</label>
                  <input type="text" formControlName="boyPhone" class="form-control"  placeholder="xxx-xxx-xxx"
                    [ngClass]="{ 'is-invalid': submitted && createWeddingForm.controls['boyPhone'].errors }" [pattern]="telPattern" />

                  <div *ngIf="submitted && createWeddingForm.controls['boyPhone'].errors" class="invalid-feedback">
                    <div *ngIf="createWeddingForm.controls['boyPhone'].errors?.['required']">
                      Boy Phone  is required
                    </div>
                    <div *ngIf="createWeddingForm.controls['girlPhone'].errors?.['pattern']">
                      Format  is not valid
                    </div>                  
                  </div>                  
                </div>
                <!--Girl phone-->
                <div class="form-group">
                  <label for="girlPhone">Girl Phone</label>
                  <input type="text" formControlName="girlPhone" class="form-control"  placeholder="xxx-xxx-xxx"
                    [ngClass]="{ 'is-invalid': submitted && createWeddingForm.controls['girlPhone'].errors }" [pattern]="telPattern" />

                  <div *ngIf="submitted && createWeddingForm.controls['girlPhone'].errors" class="invalid-feedback">
                    <div *ngIf="createWeddingForm.controls['girlPhone'].errors?.['required']">
                      Girl phone  is required
                    </div> 
                    <div *ngIf="createWeddingForm.controls['girlPhone'].errors?.['pattern']">
                      Format  is not valid
                    </div>                   
                  </div>
                </div>
                <!--Pin code-->
                <div class="form-group">
                  <label for="pinCode">Pin Code</label>
                  <input type="text" formControlName="pinCode" class="form-control" placeholder="xxxx"
                    [ngClass]="{ 'is-invalid': submitted && createWeddingForm.controls['pinCode'].errors }" [pattern]="pinCodePattern" />
                  <div *ngIf="submitted && createWeddingForm.controls['pinCode'].errors" class="invalid-feedback">
                    <div *ngIf="createWeddingForm.controls['pinCode'].errors?.['required']">
                      Pin code  is required
                    </div>
                    <div *ngIf="createWeddingForm.controls['pinCode'].errors?.['pattern']">
                      Format  is not valid
                    </div>  
                  </div>
                </div>

                <div class="form-group">
                  <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Create
                  </button>
                  <a routerLink="../" class="btn btn-link">Cancel</a>
                </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>